* {
  margin: 0;
  padding: 0;
  font-size: 10px;
  box-sizing: border-box;
}

:root {
  --main-purple: #a3b;
  --main-purple-light: rgb(251, 220, 255);
}

body {
  background-image: url(./assets/45-degree-fabric-light.png);
}

.main__container {
  padding-bottom: 5rem;
}

.main__header {
  display: flex;
  align-items: center;
  padding: 2rem;
}

.main__title {
  font-size: 1.8rem;
}

.main__menu-toggle {
  background-color: var(--main-purple);
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1rem 1rem var(--main-purple-light);
  cursor: pointer;
  margin-left: auto;
}

.main__hamburger {
  width: 60%;
  height: auto;
}

.menu {
  width: 100%;
  max-width: 40rem;
  z-index: 2;
  background-color: var(--main-purple);
  background-image: url(./assets/45-degree-fabric-dark.png);
  height: 100vh;
  position: fixed;
  top: 0;
  left: -40rem;
  padding: 5rem;
  transition: all 0.2s ease-in-out;
}

.menu__toggle {
  margin: 0 0 5rem 26rem;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.menu__title {
  font-size: 2.8rem;
  color: var(--main-purple-light);
}

.menu__section {
  margin-top: 2rem;
}

.menu__subtitle {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.menu__list {
  list-style: none;
}

.menu__list-item {
  font-size: 1.8rem;
  margin: 0.5rem 0;
}

.menu--open {
  transform: translate(40rem);
}

.input {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background-color: white;
  box-shadow: 0 -0.01rem 1.5rem 0.3rem #aaa;
}

.input__form {
  width: 100%;
  display: flex;
}

.input__text-input {
  font-size: 1.6rem;
  border-radius: 3rem;
  padding: 1rem;
  flex-grow: 1;
  outline: none;
}

.input__btn-submit {
  border: none;
  margin-left: -5rem;
  border-radius: 3rem;
  background-color: var(--main-purple);
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  flex-basis: 15rem;
  box-shadow: 0.01rem 0.01rem 0.1rem 0.1rem var(--main-purple-light);
}

.messages {
  padding: 2rem;
}

.messages__list {
  display: flex;
  flex-direction: column;
}

.messages__message {
  font-size: 1.6rem;
  width: fit-content;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
  color: white;
}

.messages--self {
  background-color: var(--main-purple);
  align-self: flex-end;
}

.messages--receive {
  background-color: #aaa;
}
