.login {
  width: 90%;
  max-width: 500px;
  padding: 2rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
  border-radius: 1.5rem;
  box-shadow: 0.5rem 0.5rem 1rem 0.8rem #aaa;
  z-index: 2;
}

.login__backdrop {
  background-color: var(--main-purple);
  opacity: 0.2;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

.login__title {
  font-size: 2.4rem;
  padding: 2rem;
}
.login__form {
  display: flex;
  flex-direction: column;
}

.login__input {
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  outline: none;
  margin: 0.2rem 0;
}

.login__btn {
  margin-top: 2rem;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.5rem 0.5rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: var(--main-purple);
  opacity: 0.8;
  color: white;
  transition: all 0.2s linear;
}
.login__btn:hover {
  opacity: 1;
}
